<h1>Music library</h1>

<% @artists.each do |artist| %>
  <a href="/artist/<%artist.id%>"> <p><%=artist.name%></p></a>

  <% albums = artist.albums() %>
    <% albums.each do |album| %>
    <p><%=album.name%></p>
    <%end%>

<%end%>