<h1>Add an artist to the library:</h1>

  <form action="/artist" method="post">
    <label for="name">Artist's name:</label>
    <input type="text" name="name">
    <br><br>

    <input type="submit" value="Add artist">

  </form>